@font-face { 
    font-family: "RubikBold"; 
    src: url("../fonts/Rubik-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 

@font-face { 
    font-family: "RubikMedium"; 
    src: url("../fonts/Rubik-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 

@font-face { 
    font-family: "RubikRegular"; 
    src: url("../fonts/Rubik-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 